//brand
$main-brand-color: #d41443;
$second-brand-color: #ffa5ba;

//background
$main-background: #ffb8ca;
$second-background: #fff5f6;
$modal-background: #e17992;

//text
$main-text-color: #ffffff;
$second-text-color: #000000;
$third-text-color: #907e82;

//button
$first-btn-hover: #ecebeb;
$second-btn-hover: #c7133e;

//transition-duration
$timing-function:1000ms;
