<section class="section about">
    <picture>
        <source media="(min-width: 1280px)" srcset="./images/milk-desktop1x.png 1x, ./images/milk-desktop2x.png 2x">
        <source media="(max-width: 480px)" srcset="./images/milk-mobile1x.png 1x, ./images/milk-mobile2x.png 2x">
        <img class="about__img-milk" src="./images/milk-mobile1x.png" alt="milk splashes">
    </picture>
    <div class="container container-about">
        <p class="about__title-lable">tradition and love</p>
        <h2 class="about__title">how it’s made?</h2>
        <div class="about__wrap">
            <picture>
                <source media="(min-width: 1280px)"
                    srcset="./images/Cow-desktop1x.png 1x, ./images/Cow-desktop2x.png 2x">
                <source media="(min-width: 768px)" srcset="./images/Cow-tablet1x.png 1x, ./images/Cow-tablet2x.png 2x">
                <source media="(max-width: 480px)" srcset="./images/Cow-mobile1x.png 1x, ./images/Cow-mobile2x.png 2x">
                <img class="about__img" src="./images/Cow-mobile1x.png" alt="photo of a cute cow next to a jar of milk"
                    width="280" height="279">
            </picture>
            <div class="about__text-wrap">
                <p class="about__text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus,
                    faucibus lorem eget, egestas eros.
                    Maecenas eleifend erat at justo fringilla.</p>
                <p class="about__text about__text--grey">Curabitur lacinia enim at ex blandit, vel pellentesque odio
                    elementum. Mauris rhoncus orci in imperdiet placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                    tincidunt.
                    <br>
                    <br>

                    Aliquam erat volutpat. Aenean accumsan.
                </p>

                <button data-modal-open class="about__btn" type="button">Read more</button>

            </div>

        </div>


        <div data-modal class="backdrop is-hidden">
            <div class="modal">
                <button data-modal-close type="button" class="modal__button-close">
                    <svg class="modal__icon" width="18" height="18">
                        <use href="././images/icons.svg#icon-buttonclose"></use>
                    </svg>
                </button>

                <p class="modal__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, cum voluptatem.
                    Obcaecati perspiciatis recusandae, quia quaerat molestias repudiandae magnam, cum aperiam
                    consequatur quos quod debitis ratione dolorem deleniti et pariatur optio in nemo explicabo, nulla
                    voluptate repellendus? Cum blanditiis dignissimos deserunt nulla iste architecto molestiae eveniet
                    explicabo sapiente, officiis distinctio optio vero amet dolor corporis ipsa, ipsam fugiat possimus
                    ut aperiam sequi. Odio fuga tempore illum enim molestiae odit veritatis officiis accusantium
                    cupiditate non dolore ipsum laborum doloremque, quisquam quia sequi! Obcaecati aspernatur, ut nemo
                    ipsa facere reiciendis tempora dignissimos voluptatem quo provident quas mollitia adipisci sit?
                    Autem, ducimus maiores. Officiis neque excepturi itaque fugit impedit, modi ad laboriosam maxime
                    voluptatem perspiciatis accusantium cumque nostrum dolorum quia et quidem totam nemo deleniti atque
                    cum possimus! Dolor eos consequuntur illum exercitationem minus sit natus corrupti ducimus. Deleniti
                    officia nemo mollitia voluptate ducimus rem, sed, quibusdam quis id dolores aliquam, laboriosam
                    facere consequatur odio soluta temporibus amet veritatis ex tempore! Sunt at magni atque possimus
                    ullam, perferendis illo reprehenderit illum porro. Excepturi repellendus deserunt perferendis
                    voluptatibus eligendi! Quae eaque voluptate rerum fuga tempora fugiat, deleniti impedit fugit
                    repudiandae dolore? Aliquam officia, molestias ipsam reprehenderit nostrum modi, ratione facilis
                    vitae unde, animi quisquam?</p>
            </div>
        </div>
    </div>
</section>