<section id="contacts" class="section section__contacts">
	<div class="container container__contacts">
		<!-- *** скрытый текст *** -->
		<h2 class="hidden-title">Наши контакты</h2>
		<!-- ********************* -->

		<ul class="contacts">
			<li class="contacts__item">
				<p class="category">Cafe</p>
				<ul>
					<li class="item-container">
						<p class="item-container__title item-container__title--first">Chicago</p>
						<p class="item-container__content item-container__content--first">Fusce ut velit laoreet, tempus
							arcu molestie vulputate</p>
					</li>

					<li class="item-container">
						<ul>
							<li class="content-item">
								<p class="item-container__title">Monday - Friday</p>
								<p class="item-container__content item-container__time">06:00 AM - 10:00 PM</p>
							</li>
							<li class="content-item">
								<p class="item-container__title">Saturday - Sunday</p>
								<p class="item-container__content item-container__time">08:00 AM - 16:00 PM</p>
							</li>
						</ul>
					</li>

					<li class="item-container">
						<a class="item-container__content item-container__tel" href="tel:+61(0)383766284">+61(0) 383 766
							284</a>
						<a class="item-container__content item-container__mail"
							href="mailto:noreply@envato.com">noreply@envato.com</a>
					</li>
				</ul>
			</li>

			<li class="contacts__item">
				<p class="category category--green">Foodtruck</p>
				<ul>
					<li class="item-container">
						<p class="item-container__title item-container__title--first">Los Angeles</p>
						<p class="item-container__content item-container__content--first">Fusce ut velit laoreet, tempus
							arcu molestie vulputate</p>
					</li>

					<li class="item-container">
						<ul>
							<li class="content-item">
								<p class="item-container__title">Monday - Friday</p>
								<p class="item-container__content item-container__time">06:00 AM - 10:00 PM</p>
							</li>
							<li class="content-item">
								<p class="item-container__title">Saturday - Sunday</p>
								<p class="item-container__content item-container__time">08:00 AM - 16:00 PM</p>
							</li>
						</ul>
					</li>

					<li class="item-container">
						<a class="item-container__content item-container__tel" href="tel:+61(0)383766284">+61(0) 383 766
							284</a>
						<a class="item-container__content item-container__mail"
							href="mailto:noreply@envato.com">noreply@envato.com</a>
					</li>
				</ul>
			</li>

			<li class="contacts__item">
				<p class="category">Cafe</p>
				<ul>
					<li class="item-container">
						<p class="item-container__title item-container__title--first">New York</p>
						<p class="item-container__content item-container__content--first">Fusce ut velit laoreet, tempus
							arcu molestie vulputate</p>
					</li>

					<li class="item-container">
						<ul>
							<li class="content-item">
								<p class="item-container__title">Monday - Friday</p>
								<p class="item-container__content item-container__time">06:00 AM - 10:00 PM</p>
							</li>
							<li class="content-item">
								<p class="item-container__title">Saturday - Sunday</p>
								<p class="item-container__content item-container__time">08:00 AM - 16:00 PM</p>
							</li>
						</ul>
					</li>

					<li class="item-container">
						<a class="item-container__content item-container__tel" href="tel:+61(0)383766284">+61(0) 383 766
							284</a>
						<a class="item-container__content item-container__mail"
							href="mailto:noreply@envato.com">noreply@envato.com</a>
					</li>
				</ul>
			</li>
		</ul>

		<div class="contact-buttons">
			<button class="button" type="button">Our Locations</button>
			<button class="button button--white" type="button">Franchise</button>
		</div>

	</div>
</section>