<section id="customer-reviews" class="section customer-reviews">
  <div class="container">
    <div class="customer-reviews__feedback">
      <img
        srcset="./images/Customer-reviews/girl_1.jpg 1x, ./images/Customer-reviews/girl_1.jpg 2x"
        src="./images/Customer-reviews/girl_1.jpg"
        alt="girl"
        class="customer-reviews__img-girls"
      />

      <div class="customer-reviews__block">
        <!-- <svg class="customer-reviews__feedback-icon">
              <use href="./image/symbol-defs.svg#icon-untitled"></use>
            </svg> -->
        <p class="customer-reviews__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
    </div>

    <div class="slider">
      <img
        class="slider__dots"
        src="./images/Customer-reviews/dots.png"
        alt=""
        width="32"
        height="4"
      />
      <p class="slider__text">Emily, Los Angeles</p>
      <img
        class="slider__img"
        src="./images/Customer-reviews/hr-dots.png"
        alt=""
        width="72"
        height="12"
      />
    </div>
  </div>
</section>
