
<header class="header">
<div class="header-content-wrapper container">
    <div class="header-flex-container">
        <div class="header-logo">
            <a href="#" class="header-logo-link">
                <img src="./images/header/logo1x.png" alt="icecream">
                <span class="header-logo-title">icecream</span>
            </a>
        </div>
        <div class="header-navigation-wrapper header-flex-container" role="group" data-menu="#" aria-expanded="true">
            <nav class="header-main-navigation" data-menu="#" aria-expanded="true">
                <ul class="header-main-navigation-list" data-menu="#" aria-expanded="true">
                    <li class="header-main-navigation-list__item">
                        <a href="#" class="header-main-navigation-list__item-link header-current-link">Home</a>
                    </li>
                    <li class="header-main-navigation-list__item">
                        <a href="№" class="header-main-navigation-list__item-link ">About us</a>
                    </li>
                    <li class="header-main-navigation-list__item">
                        <a href="#How it’s made?" class="header-main-navigation-list__item-link ">How it’s made?</a>
                    </li>
                    <li class="header-main-navigation-list__item">
                        <a href="#products" class="header-main-navigation-list__item-link ">Our products</a>
                    </li>
                    <li class="header-main-navigation-list__item">
                        <a href="#contacts" class="header-main-navigation-list__item-link ">Contact</a>
                    </li>
                </ul>
            </nav>
            <div class="header-burger-menu" data-menu="#" aria-expanded="true">
                <button class="header-burger-button" type="button" data-menu-button>
                    <svg class="header-burger-menu-svg" width="20" height="20" aria-label="Switch mobile menu">
                        <use class="icon-close" href="./images/header/sprite.svg#icon-close"></use>
                        <use class="icon-burger" href="./images/header/sprite.svg#icon-burger"></use>
                    </svg>
                </button>
            </div>
            <div class="header-button" data-menu="#" aria-expanded="true">
                <button class="button-light " type="button">
                    <span class="button-title">Buy now</span>
                    <svg class="arrow" height="8" width="8">
                        <use href="./images/header/sprite.svg#icon-arrow-right-button"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>
</header>

