<div class="wrapper">
   <div class="hero container">
         <div class="hero__wrapper">
            <h1 class="hero__title">
               ICE CREAM <br>
                MADE WITH <br>
                 <span class="passion">PASSION</span> 
            </h1>
           <ul class="hero__buttons">
               <li class="hero__item">
                  <a href="#Products" class="hero__button">
                   Products
                  </a>
               </li>
               <li class="hero__item">
                  <a href="#How it’s made?"class="hero__button hero__button--white">
                   How it’s made?
                  </a>
               </li>
           </ul>
         </div>
           <img class="hero__ice-cream " srcset="../src/images/ice-cream-1x.png 1x, ../src/images/ice-cream-2x.png 2x"
           src="../src/images/ice-cream-1x.png" alt="ice-cream">
      
           <img class="hero__ellipse" src="../src/images/ellipse.png" alt="ellipse"> 
      
           <img class="hero__girl" srcset="../src/images/girl-1x.png 1x, ../src/images/girl-2x.png 2x"
           src="../src/images/girl-1x.png" alt="girl">
      
           <img class="hero__milk" srcset="../src/images/jag-of-milk-1x.png 1x, ../src/images/jag-of-milk-2x.png 2x"
           src="../src/images/jag-of-milk-1x.png" alt="girl">
      
         <div class="hero__numbers">
            <svg class="hero__number" >
                 <use href="../src/images/sprite.svg#icon-16"></use>
            </svg> 
            <svg class="hero__ellipse-white" >
                 <use href="../src/images/sprite.svg#icon-Ellipse"></use>
            </svg> 
            <p class="hero__numbers-text"> cafes </p>
         </div>
      
         <div class="hero__numbers hero__numbers--27">
            <svg class="hero__number hero__number--27" >
                 <use href="../src/images/sprite.svg#icon-23"></use>
            </svg> 
            <svg class="hero__ellipse-white" >
                 <use href="../src/images/sprite.svg#icon-Ellipse"></use>
            </svg> 
            <p class="hero__numbers-text hero__numbers-text--27"> food trucks </p>
         </div>
      
         <div class="hero__milk-text">
            <p class="text">
               Lorem ipsum dolor sit amet,<br>
               consectetur adipiscing elit,<br>
               sed do eiusmod tempor <br> 
               incididunt ut labore et
            </p>
      
            <a class="hero__milk-link" href="#">
               <svg class="hero__arrow" >
                  <use href="../src/images/sprite.svg#icon-arrow"></use>
               </svg> 
            </a>
            
          </div>  
   
   
   </div>                  
</div>