<section id="products" class="section products">
    <div class="container">
        <span class="products__label">100% natural</span>
        <h2 id="Products" class="products__title">products</h2>
        <ul class="products-list">
            <li class="products-list__item products-list__item--pink-color">
                <h3 class="products-list__subtitle products-list__subtitle--ice-cream">ice cream</h3>
                <p class="products-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et <span class="products-list__text-none">. dolore magna
                        aliqua facilisis.</span></p>
                <button class="products-list__button"></button>
            </li>
            <li class="products-list__item products-list__item--brown-color">
                <h3 class="products-list__subtitle products-list__subtitle--ice-coffee">ice coffee</h3>
                <p class="products-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et <span class="products-list__text-none">. dolore magna
                        aliqua facilisis.</span></p>
                <button class="products-list__button"></button>
            </li>
            <li class="products-list__item products-list__item--green-color">
                <h3 class="products-list__subtitle products-list__subtitle--milkshakes">milkshakes</h3>
                <p class="products-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et <span class="products-list__text-none">. dolore magna
                        aliqua facilisis.</span></p>
                <button class="products-list__button">
                </button>
            </li>
        </ul>
    </div>
</section>