.wrapper {
  background-color: $main-background;
  animation: show 2s;
  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @media screen and (max-width: 480px) {
    min-width: 320px;
    overflow: hidden;
  }
}

.hero {
  position: relative;
  height: 500px;
  animation: show 2s;
  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @media screen and (min-width: 768px) {
    height: 399px;
    transition-duration: $timing-function;
  }
  @media screen and (min-width: 1280px) {
    height: 665px;
    transition-duration: $timing-function;
  }
}

.hero__wrapper {
  position: absolute;
  top: 193px;
  z-index: 3;
  @media screen and (min-width: 768px) {
    top: 102px;
    margin-left: 14px;
    transition-duration: $timing-function;
  }
  @media screen and (min-width: 1280px) {
    top: 171px;
    margin-left: 115px;
    transition-duration: $timing-function;
  }
}
.hero__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: $main-text-color;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 25px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 38px;
    line-height: 44px;
  }
}

.passion {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 46px;
  color: $main-brand-color;
  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 31px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 52px;
  }
}
.hero__buttons {
  font-size: 0;
}

.hero__button {
  display: inline-block;
  border-radius: 20px;
  background-color: $main-brand-color;
  color: $main-text-color;
  border: none;
  cursor: pointer;
  padding: 8px 15px 8px 15px;
  font-size: 8px;

  line-height: 10px;
  letter-spacing: 0em;
  text-align: center;
  margin-right: 8px;
  @media screen and (min-width: 1280px) {
    padding: 13px 23px 13px 23px;
    font-size: 14px;
    line-height: 18px;
  }
  &:hover,
  &:focus {
    background-color: #c7133e;
  }
}

.hero__button--white {
  color: $main-brand-color;
  background-color: $main-text-color;
  margin-right: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}

.hero__ellipse {
  position: absolute;
  z-index: 1;
  top: 83px;
  left: 36px;
  width: 346px;
  height: 344px;

  @media screen and (min-width: 768px) {
    width: 324px;
    height: 322px;
    top: 31px;
    left: 307px;
    transition-duration: $timing-function;
  }
  @media screen and (min-width: 1280px) {
    width: 538px;
    height: 538px;
    top: 52px;
    left: 475px;
    transition-duration: $timing-function;
  }
}

.hero__ice-cream {
  width: 166px;
  height: 410px;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 117px;
  @media screen and (min-width: 768px) {
    width: 137px;
    height: 336px;
    left: 378px;
    transition-duration: $timing-function;
  }

  @media screen and (min-width: 1280px) {
    width: 231px;
    height: 557px;
    left: 594px;
    transition-duration: $timing-function;
  }
}
.hero__girl {
  position: absolute;
  bottom: 0;
  z-index: 2;
  @media screen and (max-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    width: 168px;
    height: 133px;
    left: 566px;
    transition-duration: $timing-function;
  }
  @media screen and (min-width: 1280px) {
    width: 293px;
    height: 232px;
    left: 878px;
    transition-duration: $timing-function;
  }
}
.hero__milk {
  position: absolute;
  left: 34px;
  bottom: 28px;
  z-index: 2;
  @media screen and (max-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    width: 124px;
    height: 126px;
    transition-duration: $timing-function;
  }
  @media screen and (min-width: 1280px) {
    width: 188px;
    height: 191px;
    left: 97px;
    bottom: 45px;
    transition-duration: $timing-function;
  }
}
.hero__numbers {
  position: relative;
  position: absolute;
  top: 94px;
  right: 34px;
  width: 43px;
  height: 44px;
  @media screen and (max-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 1280px) {
    width: 72px;
    height: 77px;
    top: 156px;
    right: 97px;
    transition-duration: $timing-function;
  }
}

.hero__numbers--27 {
  top: 151px;
  width: 51px;
  height: 43px;
  @media screen and (min-width: 1280px) {
    top: 250px;
    width: 92px;
    height: 76px;
    transition-duration: $timing-function;
  }
}

.hero__number--27 {
  left: 8px;
  @media screen and (min-width: 1280px) {
    left: 20px;
    transition-duration: $timing-function;
  }
}

.hero__ellipse-white {
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 18px;
  @media screen and (min-width: 1280px) {
    width: 30px;
    height: 30px;
    transition-duration: $timing-function;
  }
}

.hero__number {
  position: absolute;
  top: 6px;
  z-index: 2;
  width: 33px;
  height: 32px;
  @media screen and (min-width: 1280px) {
    width: 54px;
    height: 53px;
    transition-duration: $timing-function;
  }
}

.hero__numbers-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 10px;
  color: #ffffff;
  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 18px;
    transition-duration: $timing-function;
  }
}

.hero__numbers-text--27 {
  white-space: nowrap;
}

.hero__milk-text {
  position: absolute;
  left: 154px;
  bottom: 34px;
  @media screen and (max-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    left: 295px;
    bottom: 62px;
    transition-duration: $timing-function;
  }
}

.text {
  font-size: 8px;
  line-height: 12px;
  color: #ffffff;
  margin-bottom: 7px;
  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
    transition-duration: $timing-function;
  }
}

.hero__milk-link {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  @media screen and (min-width: 1280px) {
    width: 26px;
    height: 26px;
    transition-duration: $timing-function;
  }
}

.hero__arrow {
  position: absolute;
  z-index: 2;
  width: 6px;
  height: 6px;
  fill: $main-brand-color;
  @media screen and (min-width: 1280px) {
    width: 8px;
    height: 8px;
    transition-duration: $timing-function;
  }
}
